/* set the font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  header {
    text-align: center;
    font-size: ;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }
  
  input[type="number"], select {
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0.5em;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"], button {
    font-size: 20px;
    padding: 8px 16px;
    margin: 8px;
    
  }
  
  input[type="submit"]:hover, button:hover {
    background-color:  #47dfd8;
  }
  
  #results {
    text-align: center;
    margin: 1em 0;
  }
  
  #results h1 {
    font-size: 20px;
    margin: 8px 0;
  }
  
  #display {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    
  }
  